<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Users</h1>
        <div class="user-list">
            {% for user in users %}
<           div class="user-box">
                <a href="/users/{{ user.user_id }}">{{ user.username }}</a>
            </div>
            {% endfor %}
        </div>
        <a href="/add_user" class="btn">Add User</a>
    </div>
</body>
</html>
